@font-face {
  font-family: "Steradian-bold";
  src: url("./assets/font/Steradian Bold.otf");
}

@font-face {
  font-family: "Steradian-regular";
  src: url("./assets/font/Steradian Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.menu {
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.menu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  font-family: "Steradian-bold";
  height: 100px;
  user-select: none;
}

.logo {
  margin-top: 2.5px;
  cursor: pointer;
  width: 161px;
  margin-left: 50px;
  user-select: none;
}

.menu ul li:nth-child(3),
.menu ul li:nth-child(4) {
  padding-left: 50px;
}

.navbarLine {
  display: none;
}

.login {
  flex: 1;
  text-align: right;
}

a.login-btn {
  font-family: "Steradian-regular";
  color: #000;
  padding: 15px 35px;
  background: #fff;
  border-radius: 30px;
  margin-right: 59px;
}

.navbar-toggle {
  display: none;
}

.menu-closed {
  position: static;
}

.menu-open {
  position: absolute;
}

.menu-open-ham {
  right: 0;
}

.border-radius-active {
  border-radius: 0px 0px 30px 30px;
}

@media (min-width:769px) {
  .logo-position {
    position: static;
  }
}

@media (max-width:1000px) {
  header nav li {
    margin: 0 30px;
  }
}

@media (max-width:900px) {
  header nav {
    position: relative;
    padding-left: 0;
  }

  header nav li {
    margin: 0;
  }
}

/* MOBILE MENU */
@media (max-width: 768px) {
  .menu ul {
    flex-wrap: wrap;
    height: auto;
    align-content: center;
  }

  .logo {
    order: 0;
  }

  .vale {
    align-self: flex-start;
    margin-top: 25px;
  }

  .vale2 {
    align-self: flex-start;
    padding-top: 0;
  }

  .navbar-toggle {
    display: block;
    padding: 30px;
    margin-right: 29px;
    order: 0;
    font-size: 25px;
  }

  .navbarText {
    display: none;
    width: 100%;
    text-align: center;
    font-family: "Steradian-regular";
    font-size: 4.7vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  nav ul li a {
    text-align: center;
  }

  .active {
    display: block;
  }

  .listSection.active {
    height: 100vh;
  }

  .menu ul li:nth-child(3),
  .menu ul li:nth-child(4) {
    order: 4;
    padding: 16px 0;
  }

  .login {
    flex: none;
  }

  .login-btn {
    order: 3;
  }

  a.login-btn {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    color: #fff;
    pointer-events: none;
  }
}

/*banner area*/
section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 110px 59px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 75px 15px;
  }
}

section p {
  max-width: 800px;
  margin-bottom: 35px;
  padding: 0;
}

.banner-area {
  position: relative;
  justify-content: space-between;
  min-height: 100vh;
  color: #000;
  padding-bottom: 0;
}

.banner-content {
  margin-top: 9.3vw;
}

.banner-area .banner-img {
  background-image: url("assets/home/hero1.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.banner-area h1 {
  font-size: 84px;
  line-height: 1em;
  font-family: "Steradian-bold";
}

.payoff {
  margin-bottom: 15px;
}

span {
  background: linear-gradient(to top, #72FDC1 60%, transparent 30%);
  background-size: 100% 70%;
  background-position: 0 6%;
  background-repeat: no-repeat;
}

.payoff br {
  display: none;
}

.banner-area h3 {
  margin-bottom: 40px;
  font-size: 33px;
  line-height: 1.2em;
  padding-top: 43px;
  font-family: "Steradian-regular";
}

.banner-area .btn-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 70px;
  width: 100%;
}

a.banner-btn {
  padding-top: 70px;
  font-family: "Steradian-bold";
  color: #fff;
  padding: 15px 35px;
  background: #000;
  border-radius: 30px;
  margin-right: 15px;
  transition: 0.3s;
}

a.banner-btn:hover {
  background: #72FDC1;
  color: #000;
}

.next-section {
  font-family: "Steradian-regular";
  font-size: 16px;
  text-align: center;
  align-self: center;
}

.next-section p {
  margin: 0;
}

.next-section i {
  font-size: 48px;
}

@media screen and (max-height: 900px) {
  .banner-area h1 {
    font-size: 80px;
  }
}

@media (max-width: 1366px) {
  .banner-area {
    min-height: 800px;
  }

  .banner-area h1 {
    font-size: 65px;
  }

  span {
    background: linear-gradient(to top, #72FDC1 60%, transparent 30%);
    background-size: 100% 70%;
    background-position: 0 6%;
    background-repeat: no-repeat;
  }

  .banner-area h3 {
    font-size: 27px;
  }
}

@media (max-width: 1000px) {
  .banner-area {
    min-height: 650px;
  }

  .banner-area h1 {
    font-size: 48px;
  }

  span {
    background: linear-gradient(to top, #72FDC1 60%, transparent 30%);
    background-size: 100% 70%;
    background-position: 0 6%;
    background-repeat: no-repeat;
  }

  .banner-area h3 {
    font-size: 16px;
    padding-top: 15px;
  }

  .banner-area .btn-container {
    padding-top: 25px;
  }
}

@media (max-width: 800px) {
  .banner-area {
    min-height: 550px;
    padding-top: 150px;
  }

  .banner-area h1 {
    font-size: 40px;
  }

  span {
    background: linear-gradient(to top, #72FDC1 60%, transparent 30%);
    background-size: 100% 70%;
    background-position: 0 6%;
    background-repeat: no-repeat;
  }

  .banner-area h3 {
    font-size: 16px;
  }

  .banner-area a.banner-btn {
    padding: 15px 40px;
    margin-bottom: 15px;
  }

  .banner-area .btn-container {
    padding-top: 48px;
  }
}

@media (max-width: 530px) {
  .vale {
    margin-top: 28.85px;
  }

  .logo {
    width: 128px;
    margin-left: 30px;
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .banner-area h1 {
    font-size: 40px;
  }

  .payoff br {
    display: block;
  }

  span {
    background: linear-gradient(to top, #72FDC1 60%, transparent 30%);
    background-size: 100% 70%;
    background-position: 0 6%;
    background-repeat: no-repeat;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .banner-area h3 {
    font-size: 16px;
  }

  .banner-area h3 br {
    display: none;
  }

  .banner-area a.banner-btn {
    padding: 15px 40px;
    margin-bottom: 15px;
  }

  .banner-area .btn-container {
    padding-top: 48px;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .banner-area {
    height: 100vh;
    padding-top: 120px;
  }

  .banner-area .btn-container {
    padding-top: 0;
  }

  .banner-btn {
    width: 100%;
    text-align: center;
  }

  a.banner-btn {
    margin-right: 0px;
  }
}

/*service area*/
#services {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}

ul.services-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-content li {
  color: #fff;
  padding: 0 30px;
  flex-basis: 25%;
}

.services-content li i {
  margin-bottom: 25px;
}

.services-content li h4 {
  font-family: "Steradian-bold";
  font-size: 28px;
  margin-bottom: 25px;
}

.services-content li p {
  font-family: "Steradian-regular";
  font-size: 18px;
  line-height: 1.5em;
  margin: 0;
}

.services-content li:nth-child(2),
.services-content li:nth-child(4) {
  margin-top: 100px;
}

@media (max-width:1550px) {
  .services-content li {
    flex-basis: 40%;
    margin-bottom: 65px;
  }

  .services-content li:nth-child(2),
  .services-content li:nth-child(4) {
    margin-top: 0;
  }

  .service-area img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width:1000px) {
  .services-content li {
    padding: 0;
    flex-basis: 45%;
    margin-bottom: 65px;
  }

  .services-content li:last-child {
    margin-bottom: 0;
  }

  .services-content li p {
    padding: 0;
  }

  .services-content li:nth-child(1),
  .services-content li:nth-child(3) {
    margin-right: 40px;
  }
}

@media (max-width:768px) {
  .services-content li {
    padding: 0;
    flex-basis: 100%;
    margin-bottom: 65px;
  }

  .services-content li:last-child {
    margin-bottom: 0;
  }

  .services-content li p {
    padding: 0;
  }

  .services-content li:nth-child(1),
  .services-content li:nth-child(3) {
    margin-right: 0;
  }
}

/*video area*/
.video {
  border-radius: 0 0 30px 30px;
  background-color: #000;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.video-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.video video {
  width: 90% !important;
  height: auto !important;
  border-radius: 30px;
}

@media (max-width:1000px) {
  .video video {
    width: 100% !important;
    height: auto !important;
    border-radius: 0;
  }

  .video-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    border-radius: 0;
  }
}

/*split area*/
ul.split-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.split-content li {
  flex-basis: 35%;
}

.split-content img {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 30px;
}

.split-content li h4 {
  font-family: "Steradian-bold";
  font-size: 42px;
  margin-bottom: 25px;
  line-height: 1em;
}

.split-content li p {
  font-family: "Steradian-regular";
  font-size: 18px;
  line-height: 1.5em;
  width: 100%;
}

.split-content li:first-child {
  margin-right: 30px;
}

.split-content li:last-child {
  margin-left: 30px;
}

@media (max-width:1000px) {
  .split-content li {
    padding: 0;
    flex-basis: 100%;
  }

  .split-content li:first-child {
    margin-right: 0;
  }

  .split-content li:last-child {
    margin-left: 0;
    margin-top: 60px;
  }
}

@media (max-width:768px) {
  .split-content li {
    padding: 0;
    flex-basis: 100%;
  }

  .split-content li p {
    font-size: 18px;
  }
}

@media (max-width:425px) {
  .split-content li {
    padding: 0;
    flex-basis: 100%;
  }

  .split-content li a {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/*map area*/
.map-area {
  background-image: url("./assets/home/map-decoration.png");
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

.map-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.map-content li {
  width: 100%;
  clear: both;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#worker {
  position: absolute;
  left: 5.1em;
}

.map-content h1 {
  font-size: 65px;
  font-family: "Steradian-bold";
  color: #fff;
}

.places-count {
  padding-bottom: 100px;
}

#places {
  position: absolute;
  left: 4em;
}

#map {
  width: 70%;
  height: 500px;
  border-radius: 30px 30px 30px 30px;
}

@media (max-width: 1366px) {
  .map-content h1 {
    font-size: 60px;
  }
}

@media (max-width: 1100px) {
  .map-content h1 {
    font-size: 48px;
  }

  #worker {
    position: absolute;
    left: 5.4em;
  }

  #places {
    position: absolute;
    left: 4.25em;
  }
}

@media (max-width: 900px) {
  .map-content h1 {
    font-size: 40px;
  }

  #map {
    width: 100%;
    height: 500px;
  }

  .places-count {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .map-area {
    padding-top: 50px;
  }

  .map-content li {
    align-items: center;
  }

  .map-content h1 {
    font-size: 48px;
    flex-basis: 100%;
    text-align: center;
  }

  .places-count {
    padding: 0;
  }

  #worker {
    position: static;
    font-family: "Steradian-regular";
    font-size: 27px;
    padding-bottom: 25px;
    left: 0;
  }

  #places {
    position: static;
    font-family: "Steradian-regular";
    font-size: 27px;
    padding-bottom: 50px;
    left: 0;
  }
}

@media (max-width: 530px) {
  .map-content h1 {
    font-size: 40px;
  }
}

/*mockup area*/
#mockup-1 {
  padding-top: 30px;
  padding-bottom: 0;
}

#mockup-2 {
  padding-top: 0;
  padding-bottom: 0;
}

#mockup-3 {
  padding-top: 0;
  padding-bottom: 100px;
}

ul.mockup-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mockup-1-left {
  max-width: 60%;
  flex-basis: 70%;
}

.mockup-1-right {
  position: relative;
  font-family: 'Steradian-regular';
  flex-basis: 30%;
}

.mockup-area-1 p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
  font-size: 18px;
}

.mockup-1-right h2 {
  margin-bottom: 3%;
  font-size: 48px;
  line-height: 1em;
}

@media (max-width: 1000px) {
  .mockup-1-left {
    max-width: 100%;
  }

  .mockup-1-left,
  .mockup-1-right {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .mockup-1-right h2 {
    margin-bottom: 3%;
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .mockup-1-right h2 {
    margin-bottom: 3%;
    font-size: 32px;
  }

  .mockup-area-1 p {
    margin-bottom: 100px;
  }
}

/*mockup area 2*/
.mockup-2-right {
  max-width: 55%;
  flex-basis: 55%;
}

.mockup-2-left {
  position: relative;
  font-family: 'Steradian-regular';
  flex-basis: 40%;
  padding-left: 100px;
}

.mockup-area-2 p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
  font-size: 18px;
}

.mockup-2-left h2 {
  margin-bottom: 3%;
  font-size: 48px;
  line-height: 1em;
}

@media (max-width: 1000px) {
  .mockup-2-left {
    order: 2;
    padding-left: 0;
  }

  .mockup-2-right {
    max-width: 100%;
    order: 1;
  }

  .mockup-2-left,
  .mockup-2-right {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .mockup-2-left h2 {
    margin-bottom: 3%;
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .mockup-2-left h2 {
    margin-bottom: 3%;
    font-size: 32px;
  }

  .mockup-area-2 p {
    margin-bottom: 100px;
  }
}

/*mockup area 3*/
.mockup-3-left {
  max-width: 60%;
  flex-basis: 70%;
}

.mockup-3-right {
  position: relative;
  font-family: 'Steradian-regular';
  flex-basis: 30%;
}

.mockup-area-3 p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
  font-size: 18px;
}

.mockup-3-right h2 {
  margin-bottom: 3%;
  font-size: 48px;
  line-height: 1em;
}

@media (max-width: 1000px) {
  .mockup-3-left {
    max-width: 100%;
    margin-left: 15vw;
  }

  .mockup-3-left,
  .mockup-3-right {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .mockup-3-right h2 {
    margin-bottom: 3%;
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .mockup-3-right h2 {
    margin-bottom: 3%;
    font-size: 32px;
  }
}

/*cta area*/
.cta {
  padding: 0;
}

.cta-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cta-content img {
  width: 30%;
  flex-basis: 20%;
  margin: 0;
}

.cta-center {
  text-align: center;
}

.cta-content h1 {
  font-size: 65px;
  font-family: "Steradian-bold";
  text-align: center;
  margin-bottom: 10px;
}

.cta-content p {
  font-size: 24px;
  font-family: "Steradian-regular";
  text-align: center;
  margin-bottom: 50px;
  margin-top: 25px;
}

@media (max-width: 1515px) {
  .cta-content h1 {
    font-size: 65px;
  }

  .cta-content p {
    font-size: 24px;
  }
}

@media (max-width: 1243px) {
  .cta-content h1 {
    font-size: 48px;
  }

  .cta-content p {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .cta-content h1 {
    font-size: 48px;
    line-height: 1em;
  }

  .cta-content p {
    padding-top: 30px;
    font-size: 16px;
  }

  .cta-content img {
    width: 35%;
    flex-basis: 20%;
    margin: 0;
  }

  #cta-btn {
    text-align: center;
    margin-top: 10px;
    margin-right: 0;
  }
}

@media (max-width: 958px) {
  .cta {
    min-height: 50vh;
    justify-content: center;
  }

  .cta-content {
    justify-content: center;
  }

  .cta-content img {
    display: none;
  }

  .cta-center {
    flex-basis: 50%;
  }

  .cta-content h1 {
    font-size: 48px;
  }

  .cta-content p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .cta-center {
    margin-left: 15px;
    margin-right: 15px;
    flex-basis: 100%;
  }

  #cta-btn {
    display: block;
    width: 100%;
  }
}

/* footer area*/
.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background: #000;
  position: relative;
  z-index: 999;
}

.footer>* {
  flex: 1 100%;
}

.logo-footer {
  width: 120px;
  cursor: pointer;
}

h2 {
  font-family: "Steradian-bold";
  font-size: 16px;
  padding-top: 30px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.r-footer>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  font-family: "Steradian-regular";
  text-decoration: none;
  color: #999;
}

.h-box {
  column-count: 1;
  column-gap: 1.25em;
}

.b-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-align: center;
  color: #999;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  font-family: "Steradian-regular";
  text-align: left;
}

.b-footer a i {
  font-size: 40px;
  text-align: center;
  padding-right: 23px;
  color: #fff;
  transition: 0.3s;
}

.b-footer a i:hover {
  color: #72FDC1;
}

.l-footer p {
  padding-right: 20%;
  color: #999;
}

.btn-wrapper {
  width: 100%;
}

.footer-btn {
  padding-top: 70px;
  font-family: "Steradian-bold";
  color: #000;
  padding: 5px 25px;
  background: #fff;
  border-radius: 30px;
  display: inline-block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  transition: 0.3s;
}

.footer-btn:hover {
  background: #72FDC1;
  color: #000;
}

#ios-btn {
  margin-top: 30px;
}

#android-btn {
  margin-top: 30px;
}

@media screen and (min-width: 735px) {
  .r-footer>* {
    flex: 1;
  }

  .l-footer {
    flex: 0.5 0px;
  }

  h2 {
    padding-top: 0;
  }

  .r-footer {
    flex: 2 0px;
  }

  .footer-btn {
    padding-top: 70px;
    font-family: "Steradian-bold";
    color: #000;
    padding: 5px 25px;
    background: #fff;
    border-radius: 30px;
    display: inline-block;
    white-space: nowrap;
  }

  #ios-btn {
    margin-top: 0;
  }
}

@media (max-width: 475px) {
  .b-footer {
    padding-top: 25px;
  }

  .b-footer a i {
    padding-bottom: 25px;
  }
}
